

@media (max-width: 1000px) {
    .navbar {
      flex-direction: row;
      height: 80px;
      padding-bottom: 20px;
    }
    
    .logo {
      margin-right:0;
  
    }

    .top-block{
        height:500px;
    }


    .about-image-text{
        font-size: 20px;
    }

    .textboxes p{
        font-size:15px;
        width:200px;
    }

    .slide-in-left {

        padding-left:5%;
     
      }

      .slide {
 
        width:100%;

        height:700px;
      }
  
    .mission {
      font-size: 50px;
      width:80%;
      text-align: center;
      margin-left: 30px;
    }
  
    .left-section,
    .middle-section,
    .right-section {
      margin: 0;
    }
  
   
  
    .middle-section{
      margin-left:10px;
    }
  
    .create-a-posting{
      display: none;
    }
  
  
  
    .logo {
      margin: auto;
    }
  
    .search-bar1 {
      display: block;
    }
  
    .join,
    .sign-in {
      margin-left: auto;
      margin-right: 30px;
    }
  
    .mid-block{
      height:800px;
    }
  
    .left-mid-block {
      margin-left:0;
      flex-direction: column;
    }
  

    .categories1,
    .categories2 {
    margin-right: 0px;
    text-align: center;
  }
  
  .categories1 ul,
  .categories2 ul {
    width: 120px;
    height:60px;
    margin-left:10px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }
  
  .category-results {
    margin-top:200px;
    
    height:500px;
  }

  #map{
    height:500px;
  }

  .about-top {
    height:600px;
  }

  .about-image{
    height:600px;
  }

  .about-image-text {
    font-size: 15px;
    word-spacing: 2px;
    line-height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height:fit-content;
    color: #fff;
    padding: 30px;
  }

  .history-heading {
    font-size:30px;

    padding-top:100px;
    
  }

  .slide-in-left {
    opacity: 1;
    padding-left:15%;
 
  }
  
  }
  
  
  @media (max-width: 767px) {
    .mid-block {
        background-color: aqua;
    }
    .top-block {
      width:100%;
      height:300px;
    }
  
    .search-bar0 {
      display: none !important;
    }
  
    .wrapper1 {
      margin-left:15% !important;
      width:300px !important;
    }
  
    .search-bar1 {
      margin-left: 0px;
    }
  
    .mission {
      font-size: 40px;
      text-align: center;
      margin-left: 30px;
    }
  
    .mid-block{
      height:800px;
    }
  
    .categories {
      margin-left: 10px;
    }
  
    .category-results {
      justify-content: center;
      margin-top: 200px;
      height: 700px ;
      
      margin-bottom: 30px;
    }
  
    .category-results ul {
      font-size: 14px;
      margin-bottom: 10px;
      padding-bottom: 3px;
    }

    
      .about-image-text {
        font-size: 10px;
        word-spacing: 2px;
        line-height: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height:fit-content;
        color: #fff;
        padding: 20px;
      }

    .about-image{
        height:300px;
      }

      .history-heading{
        padding-top: 20px;
      }

      .slide-in-left {
        opacity: 1;
        padding-left:5%;
     
      }

      .paragraph {
        width:300px;
      }
    
    
  }
  
